@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

nav {
  height: 80px;
  display: flex;
}

img {
  width: 100%;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


ul {
  display: flex;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 56px;
  color: #7342d6;
  margin-bottom: 24px;
  text-align: center;
}

h2 {
  font-size: 32px;
  margin-bottom: 24px;
  text-align: center;
}

button {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}

.btn {
  background-color: #7342d6;
  color: white;
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
}

.purple {
  color: #7342d6;
}

.logo {
  width: 160px;
}


/* NAVBAR */


.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav__logo{
  width: 60px;
  height: 60px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: bold;
  padding: 8px;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link--primary {
  border: 2px solid #7342d6;
  border-radius: 4px;
}

.nav__link--primary:hover {
  text-decoration: none;
}

.nav__link--primary {
  background: #4e46e5a9;
  padding: 8px 16px;
  border-radius: 6px;
}

.btn__menu{
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 1.8rem;
  background-color: transparent;
  font-size: 40px;
  border: none;
  color: #7342d6;
  display: none;
  z-index: 0;
}

.menu__backdrop{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 90;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 0;
  transform: translateX(100%);
  backdrop-filter: blur(0px);
}

.menu--open{
  max-height: 100vh;
  overflow: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible !important;
  opacity: 1;
  transform: translateX(0);
}

.menu__backdrop.active {
  transform: translateX(0);
  opacity: 1;
  backdrop-filter: blur(10px);
  transition: backdrop-filter 0.4s ease, transform 0.4s ease, opacity 0.4s ease;
}

.menu__links{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  list-style: none;
  padding: 0;
  text-align: center;
}

.menu__list{
  padding: 32px 0;
}

.menu__link{
  color: white;
  font-size: 40px;
  text-decoration: none;
  transition: color 0.3s;
}

.btn__menu--close {
  position: fixed;
  top: 25px;
  right: 25px;
  font-size: 1.8rem;
  color: #7342d6;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 100;
}

.menu__link:hover {
  color: #00ffff;
}

.menu__link no-cursor{
  cursor: not-allowed;
}

/* HEADER */

.header{
  height: calc(100vh - 80px);
}

.header__container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  height: 100%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__description{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__img--wrapper{
  position: relative;
  height: 60vh;
  color: white;
  text-align: center;
  transition: all 300ms ease;
}

.header__img--wrapper::before{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('./assets/collage-movies.jpg');
  filter: blur(2px);
  z-index: 0;
}

.header__img--text{
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.091);
  border-radius: 12px;
  transition: all 800ms ease;
}

/* SEARCH SECTION */

#search {
  padding: 40px 10%;
}

.search-row {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

input,
select,
button {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button {
  background-color: #4f46e5;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.results-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

.card {
  background: #1a2233;
  border-radius: 8px;
  color: white;
  text-align: center;
  padding: 10px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

h3 {
  margin: 8px 0 4px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #1a2233;
  color: #9aa4b2;
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {
  .header__description {
    padding: 0 24px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 26px;
  }

  button {
    font-size: 18px;
  }

}


/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 550px) {
  .btn__menu {
    display: block;
  }

  .nav__links {
    display: none;
  }
}